@{
    ViewData["Title"] = "Rock Climbing";
}

<div class="text-center">
    <h1 class="display-4">Rock Climbing</h1>

	<img src="~/outdoor rock climbing.jpg" />

    <p>Rock climbing is an exciting and physically demanding sport that challenges both the body and mind. Whether scaling towering outdoor cliffs or tackling indoor climbing walls, climbers must rely on strength, strategy, and technique to ascend safely. The sport offers a variety of disciplines, including bouldering, sport climbing, and traditional climbing, each requiring different skills and equipment. Beyond the physical benefits, rock climbing enhances problem-solving abilities, as climbers must carefully plan their route and adjust to unexpected challenges along the way.</p>

	<img src="~/indoor rock climbing.jpg" />

    <p>One of the greatest aspects of rock climbing is its strong community and sense of adventure. Climbers often work together to overcome obstacles, sharing tips and encouragement to push each other to new heights. Additionally, climbing provides an excellent full-body workout, improving grip strength, endurance, and flexibility. Whether you're a beginner learning the basics or an experienced climber tackling difficult routes, the sport offers endless opportunities for growth and exploration.</p>


	<a href="c:\users\kaitlyn\source\repos\mission05\mission05\views\home\calculator.cshtml">Price Calculator</a>
</div>
