<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/climbing.ico" />
    <title>@ViewData["Title"] - Mission05</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mission05.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="bg-dark text-white text-center py-4 shadow-lg">
        <div class="container">
            <h1 class="display-4 fw-bold">Welcome to Rock Climbing!</h1>
            <p class="lead">Your adventure starts here</p>
        </div>
    </header>

    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light bg-dark mt-auto">
        <div class="container text-center">
            <span class="text-light">&copy; 2025 - Mission05 - Kaitlyn Metler</span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
